<H1>Login</H1>  
{% loginform %}
  <p><label for="uname"><small>Username</small></label><br/>{{ form.uname }}</p>
  <p><label for="pword"><small>Password</small></label><br/>{{ form.pword }}</p>
  <p>{{ form.submit }}</p>
{% endloginform %}
